*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
  --base-color: rgb(255, 255, 255);
  --text-color: #111528;
  --hover-color: rgb(185, 185, 185);
  --different-color: rgb(138, 135, 135);
  --primary-color: #c9d5fa;
  --accent-color: #0071FF;
  --box-shadow: rgba(0, 0, 0, 0.2);
}


.darkmode{
  --base-color: #252627;
  --text-color: #c9c9c9;
  --different-color: rgb(161, 161, 161);
  --hover-color: #3f4044;
  --primary-color: #11121a;
  --box-shadow: rgba(161, 161, 161, 0.952);
}


body{
	background-color: var(--base-color);
	min-height: 100vh;
	min-width: 100vh;
  display: flex;
  flex-direction: column;
}

.main-div{
	background-color: var(--primary-color);
  border-bottom: 1px solid var(--hover-color);
	min-width: 100vh;
	height: 90px;
	display: flex;
	justify-content: space-between;
  position: sticky;
  position:-webkit-sticky;
  top: 0px;
  z-index: 10;

}


.img-div{
  margin-left: 45px;
  display: flex;
  background-color: var(--primary-color);

}

.img-div a{
  height: 90px;
  display: flex;
}

.img-div img{
  min-width: 50px;
  flex: 1;
	object-fit: contain;
}


.nav-div{
	display: flex;
	justify-content: flex-end;
}


nav ul{
  list-style: none;
  display: flex;
}
nav .home-li{
  margin-right: auto;

}
nav li{
  display: flex;
}
nav a{
  display: flex;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 550;
  font-size: large;
  padding: 30px 2em;
  transition: background-color 150ms ease;
}
nav a:hover{
  background-color: var(--hover-color);
}
nav a.active-link{
  border-bottom: 2px solid var(--text-color);
}
nav a.accent-link{
  background-color: var(--accent-color);
}
#open-sidebar-button{
  display: none;
  background: none;
  border: none;
  padding: 1em;
  margin-left: auto;
  cursor: pointer;
}
#close-sidebar-button{
  display: none;
  background: var(--different-color);
  color: var(--text-color);
  border: none;
  padding: 1em;
  cursor: pointer;
}
#overlay{
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--accent-color); 
  color: #ffffff; 
  padding: 12px 24px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1; 
  pointer-events: auto; 
  outline: 3px solid #ffffff; 
}
@media screen and (max-width: 700px) {
  #open-sidebar-button, #close-sidebar-button{
    display: block;
  }
  nav{
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: min(15em, 100%);
    z-index: 10;
    border-left: 1px solid var(--hover-color);
    transition: right 300ms ease-in-out;
  }
  nav.show{
    right: 0;
  }
  nav.show ~ #overlay{
    display: block;
  }
  nav ul{
    width: 100%;
    flex-direction: column;
  }
  nav a{
    width: 100%;
    padding-left: 2.5em;
  }


  nav a.active-link{
    border-bottom: none;
  }
  nav .home-li{
    margin-right: unset;
  }

  .para-img{
    display: none;
  }
}

button{
  border: none;
  padding: .8em 2em;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 13px;
  right: 20px;
  padding-right: 8px;
}

#theme-switch svg{
  fill: var(--base-color);
}

#theme-switch svg:last-child{
  display: none;
}

.darkmode #theme-switch svg:first-child{
  display: none;
}

.darkmode #theme-switch svg:last-child{
  display: inline-block;
}



.description{
  width: 100%;
  height: 400px;
  font-family: 'Times New Roman', Times, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  flex: 1;
  color: var(--text-color);

}




.paragraph1{
	text-align: justify;
	flex: 1;
	transition: background-color 0.15s, opacity 0.15s, color 0.15s;
  cursor: pointer;
	opacity: 0.8;
	background-color: var(--base-color);
	border-radius: 25px;
	padding: 20px;
  width: 45%;
	color: var(--text-color);
	cursor: pointer;
	transition: all 0.15s;
  font-size: larger;
  margin-top: 20px;
  margin-left: 5%;
  margin-bottom: 0;
  line-height: 1.4;

	
}

.paragraph1:hover{
	opacity: 1;
  background-color: var(--base-variant);
	box-shadow: 0px 0px 8px 4px var(--box-shadow);

}

.para-img{
  flex: 1;
  margin-top: 20px;
  width: 45%;
  transition: all 0.15s;
  border-radius: 25px;
}

.para-img:hover{
	opacity: 1;
  background-color: var(--base-variant);
	box-shadow: 0px 0px 8px 4px var(--box-shadow);

}

.para-img img{
  width: 400px;
  height: 400px;
  padding: 40px;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 0px;

}

.grid {
  display: grid;
  margin: 60px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  column-gap: 110px;
  row-gap: 50px;

}

.grid > div {
  border: 1px solid blue;
  transition: all 0.15s;
  aspect-ratio: 1/1;


}

.grid > div:hover{
	opacity: 1;
  background-color: var(--base-variant);
	box-shadow: 0px 0px 8px 4px var(--box-shadow);

}

.grid > div > img{
  width: 300px;
  height: 250px;
}

#checkout{
  color: var(--accent-color);
}



